<!doctype html>
<title>{% block title %}{% endblock %} - OLMS</title>
<link rel='icon' href="{{ url_for('static', filename='favicon.ico') }}">
<!--          https://code.jquery.com/jquery-3.4.1.min.js         -->
<script src="{{ url_for('static', filename='jquery.js') }}"></script>
<!-- https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css-->
<link rel='stylesheet' href="{{ url_for('static', filename='bootstrap.css') }}">
<link rel='stylesheet' href="{{ url_for('static', filename='style.css') }}">
<script>
  $(function () {
    $('form').submit(function() {
      $(this).find(":selected[value='']").prop('disabled', true);
    });
  });
  function show_empl(element, dept_id, value='') {
    $.post('/manage/empl/get', {dept: dept_id}, function(json) {
      $.each(json, function(id, realname){
        $(element).append($('<option>').text(realname).prop('value', id));
      });
      $(element).val(value)
    }, 'json');
  }
  function init_selector(element, mode='init') {
    if (mode == 'unselect') {
      $(element).val('');
    } else if (mode == 'init') {
      $(element).empty().append($('<option>').text('All').prop('value', ''));
    }
  }
</script>
<nav class='navbar navbar-light topbar'>
  <a class='brand' href="{{ url_for('index') }}">Overtime and Leave Management System</a>
  <div class='navbar-nav flex-row'>
    {% if g.user %}
    <a class='nav-link'>{{ g.user['username'] }}({{ g.user['realname'] }})</a>
    <a class='nav-link link' href="{{ url_for('auth.setting') }}">Setting</a>
    <a class='nav-link link' href="{{ url_for('auth.logout') }}">Log Out</a>
    {% else %}
    <a class='nav-link'>Log In</a></li>
    {% endif %}
  </div>
</nav>
<div class='wrapper'>
  {% if g.user %}
  <nav class='nav flex-column navbar-light sidebar'>
    <div>
      <a class='navbar-brand'>Employee Panel</a>
      <ul class='navbar-nav'>
        <li><a class="nav-link {% if request.endpoint == 'record.empl_index' %}active{% endif %}" href="{{ url_for('index') }}">Employee Records</a></li>
        <li><a class="nav-link {% if request.endpoint == 'stats.empl_index' %}active{% endif %}" href="{{ url_for('stats.empl_index') }}">Employee Statistics</a></li>
      </ul>
    </div>
    {% if g.user['type'] == 1 %}
    <div>
      <a class='navbar-brand'>Department Panel</a>
      <ul class='navbar-nav'>
        <li><a class="nav-link {% if request.endpoint == 'record.dept_index' %}active{% endif %}" href="{{ url_for('record.dept_index') }}">Department Records</a></li>
        <li><a class="nav-link {% if request.endpoint == 'stats.dept_index' %}active{% endif %}" href="{{ url_for('stats.dept_index') }}">Department Statistics</a></li>
      </ul>
    </div>
    <div>
      <a class='navbar-brand'>Control Panel</a>
      <ul class='navbar-nav'>
        <li><a class="nav-link {% if request.endpoint == 'empl.index' %}active{% endif %}" href="{{ url_for('empl.index') }}">Manage Employee</a></li>
        {% if g.user['id'] == 0 %}
        <li><a class="nav-link {% if request.endpoint == 'dept.index' %}active{% endif %}" href="{{ url_for('dept.index') }}">Manage Department</a></li>
        <li><a class="nav-link {% if request.endpoint == 'record.super_index' %}active{% endif %}" href="{{ url_for('record.super_index') }}">Manage Records</a></li>
        {% endif %}
      </ul>
    </div>
    {% endif %}
  </nav>
  {% endif %}
  <div class='content'>
    <header>
    {% block header %}{% endblock %}
    </header>
    {% for message in get_flashed_messages() %}
    <div class="alert alert-danger {% if request.endpoint == 'auth.login' %}login{% else %}d-inline-flex{% endif %}">{{ message }}</div>
    {% endfor %}
    {% block content %}{% endblock %}
  </div>
</div>
