body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
                 'Microsoft YaHei New', 'Microsoft Yahei', 微软雅黑, 宋体, SimSun, STXihei, 华文细黑, sans-serif;
}

.topbar {
    min-height: 70px;
    background-color: #f8f9fa;
}

.brand {
    padding-left: 20px;
    font-size: 25px;
    letter-spacing: .3px;
    color: black;
}

.brand:hover {
    color: black;
    text-decoration: none;
}

.topbar .nav-link {
    padding-left: 8px;
    padding-right: 8px;
}

.wrapper {
    display: flex;
    align-items: stretch;
    min-height: 80vh;
}

.login {
    width: 250px;
    margin: 0 auto;
}

.sidebar {
    width: 190px;
    padding-top: 10px;
    text-indent: 6px;
    border-right: 1px solid #e9ecef;
}

.sidebar .navbar-nav {
    text-indent: 20px;
}

.sidebar .nav-link {
    color: rgba(0,0,0,.7) !important;
}

.sidebar .nav-link:hover {
    background-color: rgb(232, 232, 232);
}

.sidebar .nav-link.active {
    background-color: rgba(161,194,250,.16);
    color: #3367d6 !important;
}

.content {
    width: 100%;
    padding: 20px;
}

.toolbar{
    padding-bottom: 10px;
}

.input-group {
    padding: 5px 10px 5px 0px;
}

.form-control {
    width: 250px;
}

td {
    white-space: nowrap;
}

.describe {
    white-space: normal;
    min-width: 160px;
    max-width: 480px;
}

.btn-primary {
    margin-right: 4px;
}

.btn-info {
    margin-left: 8px;
}
