{% extends 'base.html' %}

{% block header %}
<h3>{% block title %}员工列表{% endblock %}</h3>
<hr>
<form class='toolbar'>
  <div class='form-inline'>
    <div class='input-group input-group-sm'>
      <div class='input-group-prepend'>
        <label class='input-group-text' for='dept'>部门</label>
      </div>
      <select class='custom-select' name='dept' id='dept'>
        <option value=''>所有</option>
        {% for dept in depts %}
        <option value="{{ dept['id'] }}" {% if args['dept_id'] == dept['id']|string() %}selected{% endif %}>{{ dept['dept_name'] }}</option>
        {% endfor %}
      </select>
    </div>
    {% if g.user['id'] == 0 %}
    <div class='input-group input-group-sm'>
      <div class='input-group-prepend'>
        <label class='input-group-text' for='type'>类型</label>
      </div>
      <select class='custom-select' name='type' id='type'>
        <option value=''>所有</option>
        <option value='0' {% if args['type'] == '0' %}selected{% endif %}>一般员工</option>
        <option value='1' {% if args['type'] == '1' %}selected{% endif %}>管理员</option>
      </select>
    </div>
    {% endif %}
    <div class='input-group'>
      <input class='btn btn-primary btn-sm' type='submit' value='过滤'>
      <a class='btn btn-primary btn-sm' href='{{ url_for(request.endpoint) }}'>清除</a>
    </div>
  </div>
</form>
<a class='btn btn-primary' href="{{ url_for('empl.add') }}">添加</a>
<p>
{% endblock %}

{% block content %}
{{ pagination.info }}
<div class='table-responsive'>
  <table class='table table-hover table-sm'>
    <thead>
      <tr>
        <th scope='col'>用户名</th>
        <th scope='col'>姓名</th>
        <th scope='col'>部门</th>
        {% if g.user['id'] == 0 %}
        <th scope='col'>类型</th>
        <th scope='col'>权限</th>
        <th scope='col'>操作</th>
        {% endif %}
      </tr>
    </thead>
    <tbody>
      {% for empl in empls %}
      <tr>
        <td>{{ empl['username'] }}</td>
        <td>{{ empl['realname'] }}</td> 
        <td>{{ empl['dept_name'] }}</td>
        {% if g.user['id'] == 0 %}
        <td>{% if empl['type'] == 0 %}一般员工{% else %}管理员{% endif %}</td>
        <td>{{ empl['permission'] }}</td>
        <td><a class='btn btn-outline-primary btn-sm' href='{{ url_for('empl.update', id=empl['id']) }}'>修改</a></td>
        {% endif %}
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{{ pagination.nav }}
{% endblock %}
