<!doctype html>
<title>{% block title %}{% endblock %} - 加班休假管理系统</title>
<link rel='icon' href="{{ url_for('static', filename='favicon.ico') }}">
<!--          https://code.jquery.com/jquery-3.4.1.min.js         -->
<script src="{{ url_for('static', filename='jquery.js') }}"></script>
<!-- https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css-->
<link rel='stylesheet' href="{{ url_for('static', filename='bootstrap.css') }}">
<link rel='stylesheet' href="{{ url_for('static', filename='style.css') }}">
<nav class='navbar navbar-light topbar'>
  <a class='brand' href="{{ url_for('index') }}">加班休假管理系统</a>
  <div class='navbar-nav flex-row'>
    {% if g.user %}
    <a class='nav-link'>{{ g.user['username'] }}({{ g.user['realname'] }})</a>
    <a class='nav-link link' href="{{ url_for('auth.setting') }}">修改密码</a>
    <a class='nav-link link' href="{{ url_for('auth.logout') }}">退出</a>
    {% else %}
    <a class='nav-link'>登入</a></li>
    {% endif %}
  </div>
</nav>
<div class='wrapper'>
  {% if g.user %}
  <nav class='nav flex-column navbar-light sidebar'>
    <div>
      <a class='navbar-brand'>员工面板</a>
      <ul class='navbar-nav'>
        <li><a class="nav-link {% if request.endpoint == 'record.empl_index' %}active{% endif %}" href="{{ url_for('index') }}">员工个人记录</a></li>
        <li><a class="nav-link {% if request.endpoint == 'stats.empl_index' %}active{% endif %}" href="{{ url_for('stats.empl_index') }}">员工个人统计</a></li>
      </ul>
    </div>
    {% if g.user['type'] == 1 %}
    <div>
      <a class='navbar-brand'>部门面板</a>
      <ul class='navbar-nav'>
        <li><a class="nav-link {% if request.endpoint == 'record.dept_index' %}active{% endif %}" href="{{ url_for('record.dept_index') }}">部门员工记录</a></li>
        <li><a class="nav-link {% if request.endpoint == 'stats.dept_index' %}active{% endif %}" href="{{ url_for('stats.dept_index') }}">部门员工统计</a></li>
      </ul>
    </div>
    <div>
      <a class='navbar-brand'>控制面板</a>
      <ul class='navbar-nav'>
        <li><a class="nav-link {% if request.endpoint == 'empl.index' %}active{% endif %}" href="{{ url_for('empl.index') }}">管理员工信息</a></li>
        {% if g.user['id'] == 0 %}
        <li><a class="nav-link {% if request.endpoint == 'dept.index' %}active{% endif %}" href="{{ url_for('dept.index') }}">管理部门信息</a></li>
        <li><a class="nav-link {% if request.endpoint == 'record.super_index' %}active{% endif %}" href="{{ url_for('record.super_index') }}">管理所有记录</a></li>
        {% endif %}
      </ul>
    </div>
    {% endif %}
  </nav>
  {% endif %}
  <div class='content'>
    <header>
    {% block header %}{% endblock %}
    </header>
    {% for message in get_flashed_messages() %}
    <div class="alert alert-danger {% if request.endpoint == 'auth.login' %}login{% else %}d-inline-flex{% endif %}">{{ message }}</div>
    {% endfor %}
    {% block content %}{% endblock %}
  </div>
</div>
