{% extends 'base.html' %}

{% block header %}
  <h3>{% block title %}New Record{% endblock %}</h3>
  <hr>
{% endblock %}

{% block content %}
  <form method='POST'>
    {% if mode == 'admin' %}
    <div class='form-group'>
      <label for='empl'>Employee</label>
      <select class='form-control' style='width:15em' name='empl' id='empl'>
        <option disabled selected value> -- select an employee -- </option>
        {% for empl in empls %}
          <option value="{{ empl['id'] }}">{{ empl['name'] }}</option>
        {% endfor %}
      </select>
    </div>
    {% endif %}
    <div class='form-group'>
      <label for='date'>Date</label>
      <input class='form-control' style='width:15em' type='date' name='date' id='date' value='{{ request.form['date'] }}' required>
    </div>
    <div class='form-group'>
      <label for='type'>Type</label>
      <select class='form-control' style='width:15em' name='type' id='type'>
        <option value='1'>Overtime</option>
        <option value='0'>Leave</option>
      </select>
    </div>
    <div class='form-group'>
      <label for='duration'>Duration</label>
      <input class='form-control' style='width:15em' name='duration' id='duration' value='{{ request.form['duration'] }}' required>
    </div>
    <div class='form-group'>
      <label for='describe'>Describe</label>
      <textarea class='form-control' style='width:15em' name='describe' id='describe' rows='3'>{{ request.form['describe'] }}</textarea>
    </div>
    <input type='submit' value='Create' class='btn btn-primary'>
    <a class='btn btn-primary' href='javascript:history.go(-1);'>Cancel</a>
  </form>
{% endblock %}
