{% extends 'base.html' %}

{% block header %}
  <h3>{% block title %}Verify Record{% endblock %}</h3>
  <hr>
{% endblock %}

{% block content %}
  <form method='POST'>
    <div class='form-group'>
      <label for='date'>Date</label>
      <input class='form-control col-3' id='date' value="{{ record['date'] }}" readonly>
    </div>
    <div class='form-group'>
        <label for='type'>Type</label>
        <input class='form-control col-3' id='type' value="{% if record['type'] == 1 %}Overtime{% else %}Leave{% endif %}" readonly>
      </div>
    <div class='form-group'>
      <label for='duration'>Duration</label>
      <input class='form-control col-3' id='duration' value="{{ record['duration'] }}" readonly>
    </div>
    <div class='form-group'>
      <label for='describe'>Describe</label>
      <textarea class='form-control col-3' id='describe' rows='3' readonly>{{ record['describe'] }}</textarea>
    </div>
    <input type='submit' name='status' value='Verify' class='btn btn-success' onclick="return confirm('Are you sure?');">
    <input type='submit' name='status' value='Reject' class='btn btn-danger' onclick="return confirm('Are you sure?');">
    <a class='btn btn-primary' href='javascript:history.go(-1);'>Cancel</a>
  </form>
{% endblock %}
